<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Alabama.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 122}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Alaska.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 122}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Arizona.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 244}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Arkansas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 366}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>California.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 610}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Colorado.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 854}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Connecticut.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{610, 366}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Delaware.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 610}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Florida.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 366}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Georgia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 244}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Hawaii.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 366}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Idaho.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 366}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Illinois.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 122}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Indiana.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 366}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Iowa.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 244}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Kansas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 854}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Kentucky.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 488}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Louisiana.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 488}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Maine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 854}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Maryland.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Massachusetts.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 732}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Michigan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 854}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Minnesota.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 122}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mississippi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 244}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Missouri.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 610}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Montana.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{732, 0}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Nebraska.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{610, 244}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Nevada.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{610, 0}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewHampshire.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 488}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewJersey.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 610}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewMexico.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 122}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewYork.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 488}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NorthCarolina.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 488}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NorthDakota.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 244}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ohio.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{610, 122}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Oklahoma.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 0}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Oregon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 0}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pennsylvania.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 0}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RhodeIsland.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 244}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SouthCarolina.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 122}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SouthDakota.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 0}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tennessee.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 366}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Texas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 122}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Utah.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122, 732}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Vermont.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{244, 0}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Virginia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{488, 244}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Washington.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 732}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WestVirginia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 610}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wisconsin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{366, 366}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wyoming.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 732}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>USAStatesSprites.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>USAStatesSprites</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>USAStatesSprites</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>