<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>AnswerCheckCorrect.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {220, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 220}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 516}, {220, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AnswerCheckWrong.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {220, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 220}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{839, 730}, {220, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuBlankButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {261, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{261, 66}</string>
			<key>spriteSourceSize</key>
			<string>{281, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1493}, {261, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuButton1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {567, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{567, 118}</string>
			<key>spriteSourceSize</key>
			<string>{567, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1373}, {567, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuButton2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {546, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{546, 108}</string>
			<key>spriteSourceSize</key>
			<string>{546, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 406}, {546, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuButton3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {569, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{569, 118}</string>
			<key>spriteSourceSize</key>
			<string>{569, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1024, 1246}, {569, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuButton4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {569, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{569, 118}</string>
			<key>spriteSourceSize</key>
			<string>{569, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1024, 1126}, {569, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuCompass.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1062, 516}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuMultiButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {261, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{261, 66}</string>
			<key>spriteSourceSize</key>
			<string>{281, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1595, 1231}, {261, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuSoloButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {261, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{261, 66}</string>
			<key>spriteSourceSize</key>
			<string>{281, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1730, 962}, {261, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuTitle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 13}, {588, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{588, 162}</string>
			<key>spriteSourceSize</key>
			<string>{600, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 962}, {588, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PowerUp5050.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 68}</string>
			<key>spriteSourceSize</key>
			<string>{71, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1061, 800}, {71, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PowerUpDoublePoints.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 68}</string>
			<key>spriteSourceSize</key>
			<string>{71, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1061, 870}, {71, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PowerUpFreeze.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 68}</string>
			<key>spriteSourceSize</key>
			<string>{71, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1061, 730}, {71, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RealTimeBackground.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1179, 0}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RealTimeCat.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {92, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{92, 112}</string>
			<key>spriteSourceSize</key>
			<string>{92, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 786}, {92, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RealTimeDisplay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 95}</string>
			<key>spriteSourceSize</key>
			<string>{640, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1241, 1366}, {640, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RealTimeLane1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {598, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{598, 57}</string>
			<key>spriteSourceSize</key>
			<string>{598, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1258}, {598, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RealTimeLane2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {598, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{598, 57}</string>
			<key>spriteSourceSize</key>
			<string>{598, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1199}, {598, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RealTimeLane3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {597, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{597, 54}</string>
			<key>spriteSourceSize</key>
			<string>{597, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1317}, {597, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RealTimeLane4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {598, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{598, 57}</string>
			<key>spriteSourceSize</key>
			<string>{598, 57}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1140}, {598, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RealTimeRectangle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 103}</string>
			<key>spriteSourceSize</key>
			<string>{320, 103}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1595, 1126}, {320, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RealTimeSquare.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {221, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{221, 212}</string>
			<key>spriteSourceSize</key>
			<string>{221, 212}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{839, 516}, {221, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ReplayLine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 10}</string>
			<key>spriteSourceSize</key>
			<string>{32, 10}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{769, 738}, {32, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ThemeBackgroundDesert.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1177, 260}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1177, 260}</string>
			<key>spriteSourceSize</key>
			<string>{1177, 260}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1177, 260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ThemeClock.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {109, 111}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{109, 111}</string>
			<key>spriteSourceSize</key>
			<string>{109, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{711, 786}, {109, 111}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ThemePauseButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{48, 48}</string>
			<key>spriteSourceSize</key>
			<string>{48, 48}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{743, 899}, {48, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ThemePictureFrame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {405, 407}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{405, 407}</string>
			<key>spriteSourceSize</key>
			<string>{405, 407}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 962}, {405, 407}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ThemePostcard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {615, 876}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{615, 876}</string>
			<key>spriteSourceSize</key>
			<string>{615, 876}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 262}, {615, 876}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ThemeQuestionDisplay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {548, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{548, 142}</string>
			<key>spriteSourceSize</key>
			<string>{548, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 262}, {548, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ThemeScoreDisplay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 46}</string>
			<key>spriteSourceSize</key>
			<string>{150, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 738}, {150, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ThemeTextFrame.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{248, 88}</string>
			<key>spriteSourceSize</key>
			<string>{248, 88}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1730, 1030}, {248, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ThemeTrackDesert.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 201}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 201}</string>
			<key>spriteSourceSize</key>
			<string>{640, 201}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{599, 1371}, {640, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>VehicleVolvo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 36}, {124, 50}}</string>
			<key>spriteOffset</key>
			<string>{3, -11}</string>
			<key>spriteSize</key>
			<string>{124, 50}</string>
			<key>spriteSourceSize</key>
			<string>{140, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 900}, {124, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>VehicleWhiteOwl.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 14}, {114, 74}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{114, 74}</string>
			<key>spriteSourceSize</key>
			<string>{140, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1024, 952}, {114, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>MainMenuUISprites.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>HD</string>
			<key>textureFileName</key>
			<string>MainMenuUISprites-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>MainMenuUISprites-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>