<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>AchievementButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 3912}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AnswerCheckCorrect.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {220, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 220}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3578}, {220, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AnswerCheckWrong.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {220, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{220, 220}</string>
			<key>spriteSourceSize</key>
			<string>{240, 240}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3800}, {220, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1926, 0}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3210, 0}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3210, 1138}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 0}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1284, 2276}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_15.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 1138}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_16.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 2276}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1926, 1138}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2568, 1138}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1284, 0}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1284, 1138}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1926, 2276}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2568, 0}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 2276}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Background_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 1136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 1136}</string>
			<key>spriteSourceSize</key>
			<string>{640, 1136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1138}, {640, 1136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EmbargoButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 3780}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuBlankButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {261, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{261, 66}</string>
			<key>spriteSourceSize</key>
			<string>{281, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 3578}, {261, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuCompass.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{263, 3978}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuMultiButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {261, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{261, 66}</string>
			<key>spriteSourceSize</key>
			<string>{281, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 3646}, {261, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuSoloButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 7}, {261, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{261, 66}</string>
			<key>spriteSourceSize</key>
			<string>{281, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 4022}, {261, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuTitle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 13}, {588, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{588, 162}</string>
			<key>spriteSourceSize</key>
			<string>{600, 180}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 3414}, {588, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuUIMetalCard.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 39}, {590, 870}}</string>
			<key>spriteOffset</key>
			<string>{-1, 6}</string>
			<key>spriteSize</key>
			<string>{590, 870}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{3210, 2276}, {590, 870}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MainMenuUIWoodBG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {640, 960}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{640, 960}</string>
			<key>spriteSourceSize</key>
			<string>{640, 960}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2568, 2276}, {640, 960}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>OptionButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 3846}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>StoreButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 3714}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>name</key>
		<string>MainMenuUISprites.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>HD</string>
			<key>textureFileName</key>
			<string>MainMenuUISprites-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>MainMenuUISprites-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>