<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>DifficultyDisplay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {589, 85}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{589, 85}</string>
			<key>spriteSourceSize</key>
			<string>{597, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {589, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EasyButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {267, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{267, 121}</string>
			<key>spriteSourceSize</key>
			<string>{275, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 477}, {267, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HardButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {267, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{267, 121}</string>
			<key>spriteSourceSize</key>
			<string>{275, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{269, 477}, {267, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NormButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {267, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{267, 121}</string>
			<key>spriteSourceSize</key>
			<string>{275, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 477}, {267, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PostcardButton.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {249, 96}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{249, 96}</string>
			<key>spriteSourceSize</key>
			<string>{249, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{564, 123}, {249, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SelectDifficulty00.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{532, 8}, {30, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{562, 54}</string>
			<key>spriteSourceSize</key>
			<string>{562, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 87}, {562, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SelectDifficulty01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{432, 8}, {130, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{562, 54}</string>
			<key>spriteSourceSize</key>
			<string>{562, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 311}, {562, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SelectDifficulty02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{332, 8}, {230, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{562, 53}</string>
			<key>spriteSourceSize</key>
			<string>{562, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{860, 0}, {562, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SelectDifficulty03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{232, 8}, {330, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{562, 53}</string>
			<key>spriteSourceSize</key>
			<string>{562, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 600}, {562, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SelectDifficulty04.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{132, 8}, {408, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{562, 53}</string>
			<key>spriteSourceSize</key>
			<string>{562, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 367}, {562, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SelectDifficulty05.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 8}, {408, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{562, 54}</string>
			<key>spriteSourceSize</key>
			<string>{562, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 255}, {562, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SelectDifficulty06.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {340, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{562, 53}</string>
			<key>spriteSourceSize</key>
			<string>{562, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 422}, {562, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SelectDifficulty07.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 8}, {230, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{562, 54}</string>
			<key>spriteSourceSize</key>
			<string>{562, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 199}, {562, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SelectDifficulty08.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {138, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{562, 54}</string>
			<key>spriteSourceSize</key>
			<string>{562, 54}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 143}, {562, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SelectDifficulty09.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {40, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{562, 53}</string>
			<key>spriteSourceSize</key>
			<string>{562, 53}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{564, 221}, {562, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SoloAnswerDisplay.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {267, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{267, 121}</string>
			<key>spriteSourceSize</key>
			<string>{275, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{591, 0}, {267, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>QuestionThemes.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>HD</string>
			<key>textureFileName</key>
			<string>QuestionThemes-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>QuestionThemes-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>