<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>AlabamaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 190}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>AlaskaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 950}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ArizonaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 190}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ArkansasCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 950}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CaliforniaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 760}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ColoradoCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 570}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ConnecticutCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 0}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>DelawareCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 760}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FloridaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 0}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>GeorgiaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 1140}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HawaiiCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 570}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>IdahoCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 760}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>IllinoisCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 570}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>IndianaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 0}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>IowaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 190}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>KansasCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1140}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>KentuckyCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 1140}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LouisianaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 380}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MaineCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 190}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MarylandCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 950}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MassachusettsCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 760}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MichiganCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 760}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MinnesotaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 380}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MississippiCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 0}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MissouriCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 190}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MontanaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 190}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NebraskaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 570}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NevadaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 950}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewHampshireCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 1140}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewJerseyCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 380}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewMexicoCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 570}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewYorkCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 0}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NorthCarolinaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 760}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NorthDakotaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>OhioCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 570}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>OklahomaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1140, 570}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>OregonCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 380}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PennsylvaniaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 1140}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RhodeIslandCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 380}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SouthCarolinaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 950}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SouthDakotaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 950}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TennesseeCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 950}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>TexasCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 1140}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UtahCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 0}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>VermontCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 760}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>VirginiaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 380}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WashingtonCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1330}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WestVirginiaCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 1140}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WisconsinCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{760, 380}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WyomingCapital.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 188}</string>
			<key>spriteSourceSize</key>
			<string>{188, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{950, 190}, {188, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>USACapitalsSprites.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>USACapitalsSprites-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>USACapitalsSprites-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>