<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Alabama.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 190}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Alaska.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 0}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Arizona.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 95}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Arkansas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 95}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>California.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 0}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Colorado.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 475}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Connecticut.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Delaware.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 380}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Florida.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 190}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Georgia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 570}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Hawaii.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 570}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Idaho.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 285}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Illinois.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 95}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Indiana.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 95}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Iowa.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 380}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Kansas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 95}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Kentucky.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 475}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Louisiana.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 570}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Maine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 285}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Maryland.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 285}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Massachusetts.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 0}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Michigan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 285}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Minnesota.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 475}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mississippi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 570}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Missouri.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 190}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Montana.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 190}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Nebraska.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 190}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Nevada.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 190}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewHampshire.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 95}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewJersey.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 190}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewMexico.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 285}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewYork.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 0}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NorthCarolina.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 95}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NorthDakota.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 0}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ohio.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 570}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Oklahoma.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 380}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Oregon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 380}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pennsylvania.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 570}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RhodeIsland.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 475}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SouthCarolina.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 665}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SouthDakota.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 0}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tennessee.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 475}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Texas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{285, 380}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Utah.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 475}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Vermont.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 285}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Virginia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{570, 380}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Washington.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 570}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WestVirginia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 380}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wisconsin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 285}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wyoming.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 94}</string>
			<key>spriteSourceSize</key>
			<string>{94, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 475}, {94, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>USAStatesSprites.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>SD</string>
			<key>textureFileName</key>
			<string>USAStatesSprites</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>USAStatesSprites</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>