<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>blue_bee_flying_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 7}, {96, 120}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{96, 120}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{736, 703}, {96, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_bee_flying_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 1}, {96, 126}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 126}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 622}, {96, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_jumper_jump_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{37, 0}, {60, 128}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{60, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1178, 630}, {60, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_jumper_jump_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 0}, {64, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{64, 98}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 279}, {64, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_enemyhit_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {100, 114}}</string>
			<key>spriteOffset</key>
			<string>{-12, 11}</string>
			<key>spriteSize</key>
			<string>{100, 114}</string>
			<key>spriteSourceSize</key>
			<string>{152, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 506}, {100, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_enemyhit_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{152, 136}</string>
			<key>spriteSourceSize</key>
			<string>{152, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1550, 2}, {152, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_jump_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {122, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{122, 124}</string>
			<key>spriteSourceSize</key>
			<string>{128, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{518, 506}, {122, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_jump_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {100, 130}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{100, 130}</string>
			<key>spriteSourceSize</key>
			<string>{128, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1940, 511}, {100, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {94, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{94, 124}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{614, 870}, {94, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {94, 128}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{94, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{518, 829}, {94, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {94, 122}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{94, 122}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1178, 506}, {94, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_spawnBAD_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {114, 195}}</string>
			<key>spriteOffset</key>
			<string>{-4, 4}</string>
			<key>spriteSize</key>
			<string>{114, 195}</string>
			<key>spriteSourceSize</key>
			<string>{138, 207}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 506}, {114, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_spawnBAD_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 170}, {130, 37}}</string>
			<key>spriteOffset</key>
			<string>{3, -85}</string>
			<key>spriteSize</key>
			<string>{130, 37}</string>
			<key>spriteSourceSize</key>
			<string>{138, 207}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1550, 317}, {130, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_spawnBAD_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 56}, {130, 151}}</string>
			<key>spriteOffset</key>
			<string>{3, -28}</string>
			<key>spriteSize</key>
			<string>{130, 151}</string>
			<key>spriteSourceSize</key>
			<string>{138, 207}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1690, 140}, {130, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_spawnGOOD_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 138}, {128, 37}}</string>
			<key>spriteOffset</key>
			<string>{5, -68}</string>
			<key>spriteSize</key>
			<string>{128, 37}</string>
			<key>spriteSourceSize</key>
			<string>{138, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1810, 480}, {128, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_spawnGOOD_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 81}, {128, 95}}</string>
			<key>spriteOffset</key>
			<string>{5, -40}</string>
			<key>spriteSize</key>
			<string>{128, 95}</string>
			<key>spriteSourceSize</key>
			<string>{138, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1550, 453}, {128, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_spawnGOOD_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {138, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{138, 175}</string>
			<key>spriteSourceSize</key>
			<string>{138, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1858, 2}, {138, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_mushroom_spawnGOOD_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {94, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{94, 124}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{732, 825}, {94, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_turtle_walking_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 25}, {126, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{126, 72}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1680, 499}, {126, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blue_turtle_walking_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 25}, {128, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{128, 72}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1812, 406}, {128, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bonus_large_A.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {256, 502}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{256, 502}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{518, 2}, {256, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bonus_large_B.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {256, 506}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{256, 506}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {256, 506}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bonus_large_C.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {256, 504}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 504}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 2}, {256, 504}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bonus_large_D.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {256, 502}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{256, 502}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 1014}, {256, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>large_A.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {256, 502}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{256, 502}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1292, 2}, {256, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>large_B.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {256, 506}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{256, 506}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1018}, {256, 506}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>large_C.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {256, 504}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 504}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 508}, {256, 504}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>large_D.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {256, 502}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{256, 502}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1034, 2}, {256, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_bee_flying_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 7}, {96, 120}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{96, 120}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 748}, {96, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_bee_flying_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{19, 1}, {96, 126}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 126}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{984, 506}, {96, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_jumper_jump_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{37, 0}, {60, 128}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{60, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1274, 506}, {60, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_jumper_jump_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{32, 0}, {64, 98}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{64, 98}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1954, 179}, {64, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_enemyhit_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {100, 114}}</string>
			<key>spriteOffset</key>
			<string>{-12, 11}</string>
			<key>spriteSize</key>
			<string>{100, 114}</string>
			<key>spriteSourceSize</key>
			<string>{152, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{634, 632}, {100, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_enemyhit_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {152, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{152, 136}</string>
			<key>spriteSourceSize</key>
			<string>{152, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1704, 2}, {152, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_jump_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {122, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{122, 124}</string>
			<key>spriteSourceSize</key>
			<string>{128, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{642, 506}, {122, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_jump_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {100, 130}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{100, 130}</string>
			<key>spriteSourceSize</key>
			<string>{128, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1942, 379}, {100, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_run_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {94, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{94, 124}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{834, 750}, {94, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_run_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {94, 128}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{94, 128}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1082, 506}, {94, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_run_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {94, 122}}</string>
			<key>spriteOffset</key>
			<string>{1, 3}</string>
			<key>spriteSize</key>
			<string>{94, 122}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{518, 959}, {94, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_spawnBAD_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {114, 195}}</string>
			<key>spriteOffset</key>
			<string>{-4, 4}</string>
			<key>spriteSize</key>
			<string>{114, 195}</string>
			<key>spriteSourceSize</key>
			<string>{138, 207}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{518, 632}, {114, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_spawnBAD_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 170}, {130, 37}}</string>
			<key>spriteOffset</key>
			<string>{3, -85}</string>
			<key>spriteSize</key>
			<string>{130, 37}</string>
			<key>spriteSourceSize</key>
			<string>{138, 207}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1690, 293}, {130, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_spawnBAD_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 56}, {130, 151}}</string>
			<key>spriteOffset</key>
			<string>{3, -28}</string>
			<key>spriteSize</key>
			<string>{130, 151}</string>
			<key>spriteSourceSize</key>
			<string>{138, 207}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1822, 179}, {130, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_spawnGOOD_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 138}, {128, 37}}</string>
			<key>spriteOffset</key>
			<string>{5, -68}</string>
			<key>spriteSize</key>
			<string>{128, 37}</string>
			<key>spriteSourceSize</key>
			<string>{138, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1680, 460}, {128, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_spawnGOOD_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 81}, {128, 95}}</string>
			<key>spriteOffset</key>
			<string>{5, -40}</string>
			<key>spriteSize</key>
			<string>{128, 95}</string>
			<key>spriteSourceSize</key>
			<string>{138, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1550, 356}, {128, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_spawnGOOD_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {138, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{138, 175}</string>
			<key>spriteSourceSize</key>
			<string>{138, 177}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1550, 140}, {138, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_mushroom_spawnGOOD_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {94, 124}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{94, 124}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{980, 634}, {94, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_turtle_walking_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 25}, {126, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{126, 72}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1808, 519}, {126, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>red_turtle_walking_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 25}, {128, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{128, 72}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1812, 332}, {128, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>snowball_temp.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {128, 126}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{128, 126}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1682, 332}, {128, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano_large_A.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {256, 502}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{256, 502}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{776, 2}, {256, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano_large_B.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {256, 506}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{256, 506}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 510}, {256, 506}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano_large_C.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {256, 504}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{256, 504}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1526}, {256, 504}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>volcano_large_D.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {256, 502}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{256, 502}</string>
			<key>spriteSourceSize</key>
			<string>{256, 512}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{260, 1518}, {256, 502}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>