<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Alabama.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 1035}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Alaska.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 621}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Arizona.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 207}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Arkansas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>California.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 207}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Colorado.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 1035}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Connecticut.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 1035}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Delaware.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 1242}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Florida.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 0}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Georgia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 414}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Hawaii.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1449}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Idaho.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 828}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Illinois.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 1242}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Indiana.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 828}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Iowa.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 828}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Kansas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1035}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Kentucky.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 414}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Louisiana.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 0}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Maine.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 0}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Maryland.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 207}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Massachusetts.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 1035}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Michigan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 828}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Minnesota.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 621}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Mississippi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1035, 1242}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Missouri.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1035, 1035}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Montana.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 1242}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Nebraska.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 1035}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Nevada.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1035, 621}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewHampshire.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 621}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewJersey.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 1242}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewMexico.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1035, 414}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NewYork.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 207}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NorthCarolina.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1242, 0}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>NorthDakota.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1035, 828}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Ohio.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 414}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Oklahoma.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 828}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Oregon.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 207}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Pennsylvania.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 621}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RhodeIsland.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 207}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SouthCarolina.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1242}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SouthDakota.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 621}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tennessee.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 414}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Texas.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 414}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Utah.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{621, 1242}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Vermont.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 0}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Virginia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 828}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Washington.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 621}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>WestVirginia.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1035, 0}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wisconsin.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 414}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Wyoming.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {205, 205}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{205, 205}</string>
			<key>spriteSourceSize</key>
			<string>{205, 205}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1035, 207}, {205, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>USAStatesSprites.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>HD</string>
			<key>textureFileName</key>
			<string>USAStatesSprites-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>USAStatesSprites-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>